@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.center-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

* {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body {
  width: 100vw;
  max-width: 1920px;
  height: 100vh;
  margin: 0 auto;
  background-color: #F9FAFF;
  background-image: url("../Images/bg-pattern.svg");
  background-size: 1920px 50vh;
  background-repeat: no-repeat;
}

header {
  height: 144px;
  background-image: url("../Images/pattern-circles.svg");
  background-repeat: no-repeat;
  background-position: center;
}
header h1 {
  font-family: "Manrope";
  font-weight: 800;
  font-size: 28px;
  line-height: 38px;
  color: #293356;
}
header p {
  font-family: "Manrope";
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #848EAD;
}

main {
  width: 90%;
  max-width: 540px;
  background: #FFFFFF;
  box-shadow: 0px 20px 30px -5px rgba(127, 137, 185, 0.152073);
  border-radius: 8px;
  margin-top: 54px;
  padding: 40px 0px;
}
main .desktop .top {
  width: 80%;
  margin: 0 auto;
}
main .desktop .top .pageviews {
  font-family: "Manrope";
  font-weight: 800;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 2px;
  color: #848EAD;
}
main .desktop .top .price {
  font-family: "Manrope";
  font-weight: 800;
  font-size: 40px;
  line-height: 55px;
  letter-spacing: -1px;
  color: #293356;
}
main .desktop .top .price span {
  font-family: "Manrope";
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #848EAD;
  margin-left: 8px;
}
main .mobile {
  display: none;
}
main .progress {
  width: 80%;
  margin: 24px auto;
  position: relative;
}
main .progress .bar {
  width: 100%;
  height: 8px;
  border-radius: 5px;
  background: linear-gradient(to right, #A4F3EB 49%, #ECF0FB 50%);
  cursor: pointer;
}
main .progress .circle {
  width: 40px;
  height: 40px;
  background-color: rgb(16, 216, 196);
  border-radius: 50%;
  background-image: url("../Images/icon-slider.svg");
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0px 15px 30px 0px rgba(0, 255, 231, 0.6);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
main .billings {
  width: 80%;
  margin: 40px auto;
  gap: 15px;
  padding-right: 10px;
  justify-content: flex-end;
  /* Hide default HTML checkbox */
  /* The slider */
  /* Rounded sliders */
}
main .billings .switch {
  position: relative;
  display: inline-block;
  width: 43px;
  height: 22px;
}
main .billings .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
main .billings .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #CFD8EF;
  transition: 0.4s;
}
main .billings .slider:hover {
  background-color: #7AEADF;
}
main .billings .slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}
main .billings input:checked + .slider:before {
  transform: translateX(22px);
}
main .billings .slider.round {
  border-radius: 34px;
}
main .billings .slider.round:before {
  border-radius: 50%;
}
main .billings .time {
  font-family: "Manrope";
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #848EAD;
}
main .billings .discount {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: #FEEDE8;
  border-radius: 9.5px;
  padding: 3px 6px;
  font-family: "Manrope";
  font-weight: 800;
  font-size: 10px;
  line-height: 14px;
  color: #FF8D68;
  margin-left: -7px;
}
main .billings .discount_mobile {
  display: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: #FEEDE8;
  border-radius: 9.5px;
  padding: 3px 6px;
  font-family: "Manrope";
  font-weight: 800;
  font-size: 10px;
  line-height: 14px;
  color: #FF8D68;
  margin-left: -7px;
}
main .bottom {
  width: 100%;
  margin-top: 40px;
  border-top: 1px solid #ECF0FB;
  padding-top: 32px;
  padding-inline: 10%;
}
main .bottom .left ul {
  gap: 11px;
  align-items: flex-start;
}
main .bottom .left ul li {
  font-family: "Manrope";
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #848EAD;
}
main .bottom .left ul li img {
  margin-right: 16px;
}
main .bottom button {
  background-color: #293356;
  border-radius: 20.5px;
  padding: 13px 46px;
  font-family: "Manrope";
  font-weight: 800;
  font-size: 12px;
  line-height: 16px;
  color: #BECDFF;
  border: none;
  cursor: pointer;
}

@media (max-width: 480px) {
  header h1 {
    font-size: 20px;
  }
  header p {
    font-size: 13px;
  }
  main .desktop {
    display: none;
  }
  main .mobile {
    display: flex;
    width: 100%;
    gap: 25px;
  }
  main .mobile .pageviews {
    font-family: "Manrope";
    font-weight: 800;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 2px;
    color: #848EAD;
  }
  main .mobile .price {
    font-family: "Manrope";
    font-weight: 800;
    font-size: 40px;
    line-height: 55px;
    letter-spacing: -1px;
    color: #293356;
  }
  main .mobile .price span {
    font-family: "Manrope";
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #848EAD;
    margin-left: 8px;
  }
  .discount_mobile {
    display: block !important;
  }
  .discount {
    display: none;
  }
  .billings {
    justify-content: center !important;
  }
  .bottom {
    flex-direction: column;
    gap: 32px;
  }
}/*# sourceMappingURL=style.css.map */